<!--Страница добавления вопроса (можно сделать оверлеем).
4. Верстка формы добавления вопроса

HTML разместить в файле ask.html.

Обратить внимание на:

Вывод сообщения об ошибках формы и подсказок к полям.
В верстке должны отображаться ошибки, чтобы было понятно как они сверстаны. Можно найти пример на макетах ниже;
Ширину полей ввода;
Максимальную длину полей ввода.

-->


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../static/css/base.css" rel="stylesheet" type="text/css">
    <link href="../static/css/ask.css" rel="stylesheet" type="text/css">
    <title>ASK</title>
</head>
<body>


<!-- авторизированный -->

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../static/img/kot.jpeg" alt="logoCompany" width="60" height="60"
                 class="d-inline-block align-text-top">
            SlavEkAns
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            <button type="button" class="btn btn-primary">Ask</button>
        </div>
        <form class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="navbar-avatar">
                        <img alt="avatar" src="../static/img/kot.jpeg" width="60" height="60">
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="user_page.html">Settings</a>
                </li>
            </ul>
        </form>
    </div>
</nav>


<div class="base">
    <div class="row">

        <!--        ASK         -->
        <div class="col-9">

            <div class="container-fluid">
                <h1> New question </h1>
                <form class="row g-3 bodyAsk">
                    <div class="row justify-content-center BlockAsk">
                        <div class="col-md-2">
                            <h4><label for="askTitle" class="form-label">Title</label></h4>
                        </div>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input type="text" class="form-control" id="askTitle" maxlength="100"
                                       placeholder="Your question name" aria-describedby="AskName" required>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center BlockAsk">
                        <div class="col-md-2">
                            <h4><label for="textAsk" class="form-label">Text</label></h4>
                        </div>
                        <div class="col-md-10">
                            <div class="input-group">
                                <textarea class="form-control" id="textAsk" rows="4"
                                placeholder="Question description" aria-describedby="AskText" required
                                maxlength="2000"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center BlockAsk">
                        <div class="col-md-2">
                            <h4><label for="tagsAsk" class="form-label">Tags</label></h4>
                        </div>
                        <div class="col-md-10">
                            <div class="input-group">
                                <textarea class="form-control" id="tagsAsk" rows="2"
                                placeholder="Tags" aria-describedby="tagsAsk" required
                                maxlength="150"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center BlockAsk">
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-primary">Ask!</button>
                        </div>
                    </div>

                </form>
            </div>


        </div>

        <!--      /ASK          -->

        <div class="col-3 info">
            <div class="tags ">
                <h2 class="font-weight-bold">Popular tags</h2>
                <p class="text-xl-center font-monospace">
                    <a class="text-primary">Python</a>
                    <a>SQL</a>
                    <a>GoooooooooooooO</a>
                </p>
                <p class="text-xl-center font-monospace">
                    <a class="text-primary">Python</a>
                    <a>SQL</a>
                    <a>Go</a>
                </p>
                <p class="text-xl-center font-monospace">
                    <a class="text-primary">Python</a>
                    <a>SQL</a>
                    <a>Go</a>
                </p>
            </div>
            <div class="members ">
                <h2 class="font-weight-bold">Best Members</h2>
                <p><a href="#" class="text-info text-decoration-none">Mr Gosha</a></p>
                <p><a href="#" class="text-info text-decoration-none">Mr Gosha</a></p>
                <p><a href="#" class="text-info text-decoration-none">Mr Gosha</a></p>
                <p><a href="#" class="text-info text-decoration-none">Mr Gosha</a></p>
                <p><a href="#" class="text-info text-decoration-none">Mr Gosha</a></p>
            </div>
        </div>
    </div>
</div>


</body>
</html>