{% extends "inc/base.html" %}

{% load static %}

{% block content %}

    <!--      Страница Вопросов      -->
    <div class="container-fluid base">
        <div class="row">
            <div class="col-4">
                <h2> New questions </h2>
            </div>
            <div class="col-8">
                <h2><a href="{% url 'index' %}" class="active text-decoration-none">Hot questions</a></h2>
            </div>
        </div>
    </div>

    <div class="container-fluid question">
        <!--     Вопросы      -->


        <!--      Шаблон самого вопроса      -->

        <div class="card m-3">
            <div class="card-header">
                <h4><a href="question.html" id="" class="headerQuestion text-decoration-none">
                    The user's question itself?
                </a></h4>
            </div>
            <div class="card-body">
                <div class="row">

                    <!--                            USER PROFILE    -->
                    <div class="col-3">
                        <div class="row">
                            <div class="col-6">
                                <img alt="avatar" src="{% static "img/kot.jpeg" %}">
                            </div>
                            <div class="col-6">
                                <h5>Rating</h5>
                                <!--                                        -->
                                <div class="btn-group" role="group"
                                     aria-label="Button group with nested dropdown">
                                    <button type="button" class="btn btn-info">+</button>
                                    <button type="button" class="btn btn-secondary">-</button>
                                </div>
                                <div class="row-cols-md-10">
                                    <h5 class="p-1 m-1">
                                        <a class="text-success text-decoration-none">1500</a>
                                    </h5>
                                </div>

                                <!--                                        -->
                            </div>
                        </div>
                    </div>

                    <!--                            QUESTION        -->
                    <div class="col-9">
                        <h5 class="card-title">From: <a href="{% url 'login' %}" class="text-decoration-none">
                            AbraKadABra</a></h5>
                        <div class="col-md-9">
                            <p class="card-text text-truncate">
                                With supporting text below as a natural lead-in to additional
                                content. With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-3">
                                <a href="question.html" class="btn btn-primary">To the answers</a>
                            </div>
                            <div class="col-9">
                                <p class="font-monospace tagsQuestionId"> tags:
                                    <a href="#" class="text-decoration-none"> Python </a>
                                    <a href="#" class="text-decoration-none"> Python </a>
                                    <a href="#" class="text-decoration-none"> Python </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        Question pattern end        -->

        <div class="card m-3">
            <div class="card-header">
                <h4><a href="question.html" class="headerQuestion text-decoration-none">
                    The user's question itself?
                </a></h4>
            </div>
            <div class="card-body">
                <div class="row">

                    <!--                            USER PROFILE    -->
                    <div class="col-3">
                        <div class="row">
                            <div class="col-6">
                                <img alt="avatar" src="{% static "img/kot.jpeg" %}">
                            </div>
                            <div class="col-6">
                                <h5>Rating</h5>
                                <!--                                        -->
                                <div class="btn-group" role="group"
                                     aria-label="Button group with nested dropdown">
                                    <button type="button" class="btn btn-secondary">+</button>
                                    <button type="button" class="btn btn-info">-</button>
                                </div>
                                <div class="row-cols-md-10">
                                    <h5 class="p-1 m-1">
                                        <a class="text-danger text-decoration-none">13</a>
                                    </h5>
                                </div>

                                <!--                                        -->
                            </div>
                        </div>
                    </div>

                    <!--                            QUESTION        -->
                    <div class="col-9">
                        <h5 class="card-title">From: <a href="{% url 'login' %}" class="text-decoration-none">
                            AbraKadABra</a></h5>
                        <div class="col-md-9">
                            <p class="card-text text-truncate">
                                With supporting text below as a natural lead-in to additional
                                content. With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-3">
                                <a href="question.html" class="btn btn-primary">To the answers</a>
                            </div>
                            <div class="col-9">
                                <p class="font-monospace tagsQuestionId"> tags:
                                    <a href="#" class="text-decoration-none"> Python </a>
                                    <a href="#" class="text-decoration-none"> Python </a>
                                    <a href="#" class="text-decoration-none"> Python </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- паггинация -->

    {% include 'inc/paginator.html' %}

{% endblock %}