{% extends "inc/base.html" %}

{% load static %}

{% block content %}

    <!--      Страница Вопросов      -->
    <div class="container-fluid base">
        <div class="row">
            <div class="col-4">
                <h2> New questions </h2>
            </div>
            <div class="col-8">
                <h2><a href="{% url 'index' %}" class="active text-decoration-none">Hot questions</a></h2>
            </div>
        </div>
    </div>

    <div class="container-fluid question">
        <!--     Вопросы      -->

        {% include 'inc/question_item.html' %}
        {% include 'inc/question_item.html' %}
        {% include 'inc/question_item.html' %}

    </div>


    <!-- паггинация -->

    {% include 'inc/paginator.html' %}

{% endblock %}
