<!--
Страница пользователя содержит его настройки - email, nick и аватарку.
Каждый пользователь может смотреть только свою страницу.
У пользователя должна быть возможность изменить email, nick и аватарку.
-->

<!DOCTYPE html>

{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/user_page.css" %}" rel="stylesheet" type="text/css">
    <title>Settings</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <img src="../static/img/kot.jpeg" alt="logoCompany" width="60" height="60"
                 class="d-inline-block align-text-top">
            SlavEkAns
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            <button type="button" class="btn btn-primary">Ask</button>
        </div>
        <form class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="navbar-avatar">
                        <img alt="avatar" src="../static/img/kot.jpeg" width="80" height="80">
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="user_page.html">Settings</a>
                </li>
            </ul>
        </form>
    </div>
</nav>


<div class="baseSettings">
    <div class="row">
        <div class="col-9">
            <!--      Настройки      -->
            <div class="container-fluid login">
                <h1 class="text-xl-center Settings"> Settings: User </h1>

                <form class="row g-3 bodySignUp">

                    <div class="row justify-content-center BlockSettings">
                        <div class="col-md-10">
                            <h5 class="text-danger">
                                a email already register
                            </h5>
                        </div>

                    </div>

                    <div class="row justify-content-center BlockSettings">
                        <div class="col-md-4">
                            <h3><label for="loginSettings" class="form-label">Login</label></h3>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-text" id="Login">@</span>
                                <textarea type="text" maxlength="40" class="form-control" id="loginSettings"
                                          rows="1"
                                       aria-describedby="Login" placeholder="Nickname">YourLogin</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center BlockSettings">
                        <div class="col-md-4">
                            <h3><label for="settingsEmail" class="form-label">Email</label></h3>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <textarea type="email" maxlength="30" class="form-control" id="settingsEmail"
                                          rows="1"
                                       aria-describedby="Email" placeholder="Email">Email@mail.ru</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center BlockSettings">
                        <div class="col-md-4">
                            <h3><label for="settingsUsername" class="form-label">NickName</label></h3>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <textarea type="text" maxlength="20" class="form-control" id="settingsUsername"
                                          rows="1"
                                       aria-describedby="Username" placeholder="Nickname">NickName</textarea>
                            </div>
                        </div>
                    </div>



                    <div class="row justify-content-center BlockSettings">
                        <div class="col-md-4">
                            <h3><label for="validationAvatar" class="form-label">Upload avatar</label></h3>
                        </div>
                        <div class="col-md-6">
                            <div class="BlockSettings">
                                <img src="../static/img/kot.jpeg" width="300" height="400">
                            </div>
                            <div class="input-group">
                                <input class="form-control" type="file" id="validationAvatar"
                                       aria-describedby="Avatar">

                            </div>
                        </div>
                    </div>



                    <div class="row justify-content-center BlockSettings">
                        <div class="col-md-10">
                            <button type="submit" class="btn btn-primary">Save!</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>


        <div class="col-3 info">
            <div class="tags ">
                <h2 class="font-weight-bold">Popular tags</h2>
                <p class="text-xl-center font-monospace">
                    <a class="text-primary">Python</a>
                    <a>SQL</a>
                    <a>GoooooooooooooO</a>
                </p>
                <p class="text-xl-center font-monospace">
                    <a class="text-primary">Python</a>
                    <a>SQL</a>
                    <a>Go</a>
                </p>
                <p class="text-xl-center font-monospace">
                    <a class="text-primary">Python</a>
                    <a>SQL</a>
                    <a>Go</a>
                </p>
            </div>
            <div class="members ">
                <h2 class="font-weight-bold">Best Members</h2>
                <p><a href="#" class="text-info text-decoration-none">Mr Gosha</a></p>
                <p><a href="#" class="text-info text-decoration-none">Mr Gosha</a></p>
                <p><a href="#" class="text-info text-decoration-none">Mr Gosha</a></p>
                <p><a href="#" class="text-info text-decoration-none">Mr Gosha</a></p>
                <p><a href="#" class="text-info text-decoration-none">Mr Gosha</a></p>
            </div>
        </div>
    </div>
</div>


</body>
</html>

